body {
  margin: 0;
  padding: 0;
  background: url('mitsuha.png');
  background-size: cover;
}
#aibox {
  display: block;
  position: absolute;
  border: none;
  top: 20%;
  left: 10%;
  height: 60vh;
  width: 80vw;
  background: transparent;
  margin: 0 auto;
}